body {
    background-color: rgb(224, 243, 250);
    overflow: auto;
    margin: none;
    width: 100%;
    height: 100%;
}
#login_form {
    margin: auto;
    width: 50%;
    margin-top: 150px;
}
#login_box {
    margin: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 52%;
}
#login_welcome {
    margin: auto;
    padding-top: 10px;
}
#login_img {
    padding-bottom: 25px;
    padding-top: 10px;
    margin: auto;
    width: 90px;
    height: 90px;
}
.login_input_title {
    margin: 0;
}
.input:first-child {
    padding-bottom: 10px;
}
